<html>
  <head>
    <title>Công cụ download video từ Youtube</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
        .col-lg-6 img{
            border-radius : 50%;
        }
    </style>
  </head>
  <body>
    <div class="container ">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><b>NEKO Project</b></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Ứng dụng</a></li>
              <li class="nav-item"><a href="https://github.com/TrHgTung/YoutubeDownloader" target="_blank" class="nav-link">Mã nguồn</a></li>
              <li class="nav-item"><a href="/huongdan"  class="nav-link">Demo sử dụng</a></li>
              <li class="nav-item"><a href="https://github.com/TrHgTung/YoutubeDownloader/blob/main/README.md" target="_blank" class="nav-link">Hướng dẫn cài đặt</a></li>
              <li class="nav-item"><a href="/huongdan" class="nav-link">Hướng dẫn sử dụng</a></li>
              <li class="nav-item"><a href="/about" class="nav-link">Giới thiệu nhóm</a></li>
            </ul>
            <a
              href="https://vi.wikipedia.org/wiki/Tr%C6%B0%E1%BB%9Dng_%C4%90%E1%BA%A1i_h%E1%BB%8Dc_S%C6%B0_ph%E1%BA%A1m_Th%C3%A0nh_ph%E1%BB%91_H%E1%BB%93_Ch%C3%AD_Minh"
              target="_blank"
              ><img
                src="https://upload.wikimedia.org/wikipedia/vi/5/59/Logo_HCMUP.png"
                width="100px"
            /></a>
          </div>
        </div>
      </nav>
    </div>
    <div class="mt-4 text-center mb-4">
      <h2 class="mb-3">Công cụ tải xuống video từ Youtube</h2>
      <p><strong>Nhóm tác giả:</strong> <i>Nhóm Neko</i> - Đồ án Công nghệ phần mềm nâng cao</p>
    </div>

    <div class="container mt-4">
        <div class="row ">
            <section class="py-5 text-center container">
                <div class="row py-lg-5">
                  <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-bold">Hướng dẫn sử dụng</h1>
                    <p class=" text-body-secondary">Hướng dẫn dưới đây bao gồm cả việc cài đặt và giới thiệu.</p>
                    
                  </div>
                </div>
              </section>
        </div>
    </div>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-1">
            <iframe width="450" height="600" src="https://www.youtube.com/embed/ugRqcRXAVbM?si=SyAdB48GaAXR-_x3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>        </div>
      </div>
    <div class="mt-3 text-center mb-3">
      <h5><strong>Nhanh chóng - Đơn giản - Hiệu quả</strong></h5>
    </div>

  </body>
</html>
